UPDATE portfolios 
SET private_token = CONCAT(
  (FLOOR(RANDOM() * 900) + 100)::integer,
  CHR((FLOOR(RANDOM() * 26) + 97)::integer),
  CHR((FLOOR(RANDOM() * 26) + 97)::integer), 
  CHR((FLOOR(RANDOM() * 26) + 97)::integer)
) 
WHERE private_token IS NULL;
